.about {
  @include center;
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #F4F6F8;
  &__wrapper {
    @include column;
    gap: 70px;
  }
  &__content {
    @include column;
    gap: 24px;
    &-title {
      max-width: 612px;
      h3 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 50px;
        line-height: 69px;
        color: $primary-color;
      }
    }
    &-description {
      p {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #3d3d3d;
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &-card1 {
      @include about-cards;
    }
    &-card2 {
      @include about-cards;
    }
    &-card3 {
      @include about-cards;
    }
    &-card4 {
      @include about-cards;
      border-right: none;
    }
    &-card5 {
      @include about-cards;
    }
    &-card6 {
      @include about-cards;
    }
    &-card7 {
      @include about-cards;
    }
    &-card8 {
      @include about-cards;
      border-right: none;
    }
  }
}
