.contact {
  @include center;
  padding-bottom: 191px;
  padding-top: 60px;

  &__wrapper {
    display: flex;
    gap: 129px;
    background-image: url(../../assets/images/contact-background.png);
    background-repeat: no-repeat;
    border: 7px solid
      linear-gradient(
        180deg,
        rgba(231, 231, 231, 0) 0%,
        rgba(192, 190, 190, 0.78) 37.09%,
        #8d8c8c 100%
      );
    border-radius: 36px;
    @include mobile() {
      display: flex;
      flex-direction: column-reverse;
      background-image: none;
      gap: 0px;
    }
  }

  &__content {
    z-index: 2;
    position: relative;
    max-width: 549px;
    max-height: 525px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 80px;
    margin-left: 48px;
    padding: 54px 48px 60px 48px;
    background-color: $accent-color;
    border-radius: 22px;
    @include mobile() {
      background-image: url(../../assets/images/contact-background.png);
      background-repeat: no-repeat;
      margin-left: 0px;
      max-width: 549px;
    max-height: 725px;
    }
    &-title {
      max-width: 489px;
      h3 {
          font-family: "Montserrat";
          font-weight: 700;
          font-style: Bold;
          font-size: 50px;
          line-height: 69px;
          color: $primary-color;
          @include mobile(){
            font-size: 34px;
          }
      }
    }
    &-description {
      max-width: 408px;
      padding-top: 8px;

      p {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $primary-color;
      }
    }
    &-number-submit {
      display: flex;
      align-items: center;
      padding-top: 20px;
      outline: none;
      input {
        width: 100%;
        padding: 26px 24px;
        outline: none;
        max-width: 449px;
        border-radius: 14px;
        border: 1px solid #c9c9c9;
        &::placeholder {
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          color: $primary-color;
        }
      }
    }
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    &-button {
      display: flex;
      gap: 42px;
      img {
        @include mobile() {
            display: none;
        }
      }
      button {
        @include buttons;
        padding: 26px 36px;
        border-radius: 14px;
        box-shadow: 0px 12px 60px 0px #fa002c66;
        &:hover {
          transition: all 0.3s ease;
          animation: pulse 1s ease;
        }
        @include mobile(){
            width: 100%;
            display: flex;
            justify-content: center;
        }
      }
    }
  }
  &__cards {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 25px;
    z-index: 2;
    @include mobile() {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding-left: 26px;
      padding-bottom: 0px;
    }
    &-card1 {
      @include contact-cards;
      max-width: 294px;
    }
    &-card2 {
      @include contact-cards;
    }
    &-card3 {
      @include contact-cards;
    }
    &-card4 {
      @include contact-cards;
    }
    &-card5 {
      @include contact-cards;
    }
    &-card6 {
      @include contact-cards;
    }
    &-card7 {
      @include contact-cards;
    }
    &-card8 {
      @include contact-cards;
    }
  }
  &__image {
    &-shadow {
      position: absolute;
      width: 1250px;
      left: -235px;
      top: 540px;
      img {
        width: 100%;
      }
      @include mobile() {
        display: none;
      }
    }
    &-car {
      position: absolute;
      bottom: -270px;
      left: -175px;
      width: 800px;
      img {
        width: 100%;
      }
      @include mobile() {
        width: 400px;
        position: absolute;
        bottom: -140px;
        left: 0px;
      }
    }
  }
}
