.consultation {
  @include center;
  &__wrapper {
    display: flex;
    background-image: url(../../assets/images/consultation-background-image.png);
    background-size: cover;
    border: 7px solid #e7e7e7;
    border-radius: 38px;
    position: relative;
    @include mobile (){
        padding-bottom: 20px;
        max-width: 550px;
        padding-bottom: 100px;
    }
  }
  &__content {
    padding: 63px 400px 73px 65px;
    @include column;
    @include mobile (){
           padding: 63px 0px 73px 40px;
        }

    gap: 24px;
    &-title {
        
      h5 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 50px;
        line-height: 69px;
        
        span {
          color: $secondary-color;
        }
        @include mobile (){
            font-weight: 700;
        font-size: 34px;
        line-height: 39px;
        }
      }
    }
    &-description {
      max-width: 608px;
      p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #292929;
      }
    }
    &-button {
      padding-top: 26px;
      button {
        @include buttons;
        padding: 26px 44px;
        border-radius: 18px;
        border: 1px solid $secondary-color;
         @include mobile{
          padding: 26px 24px;
         }
        &:hover{
            background-color: transparent;
            color: $primary-color;
            transition: all 0.3s ease;
        }
      }
    }
  }
  &__image {
    position: absolute;
    right: -35px;
    bottom: -35px;
    @include mobile (){
       position: absolute;
    right: 0px;
    bottom: -100px; 
    }
    img {
      width: 840px;
      @include mobile (){
        width: 400px;
      }
    }
  }
}
