.features {
  @include center;
  padding-top: 100px;
  padding-bottom: 100px;
  &__wrapper {
    @include column;
    gap: 46px;
    @include mobile (){
        padding-left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  &__content-wrapper {
    display: flex;
    gap: 28px;
  }
  &__title {
     @include mobile (){
        padding-left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h3 {
      
      font-weight: 700;
      font-style: Bold;
      font-size: 50px;
      line-height: 69px;
      color: $primary-color;
      @include mobile (){
        font-size: 34px;
        line-height: 39px;
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 28px;
    @include mobile (){
        display: none;
    }
    &-column1 {
      @include features-column;
    }
    &-column2 {
      @include features-column;
    }
    &-column3 {
      @include features-column;
    }
    &-column4 {
      @include features-column;
    }
    &-column5 {
      @include features-column;
    }
    &-column6 {
      @include features-column;
    }
    &-column7 {
      @include features-column;
    }
    &-column8 {
      @include features-column;
    }
    &-column9 {
      @include features-column;
    }
    &-column10 {
      @include features-column;
    }
    &-column11 {
      @include features-column;
    }
    &-column12 {
      @include features-column;
    }
    &-column13 {
      @include features-column;
    }
  }
  &__card {
    @include column;
    gap: 15px;
    background-color: $accent-color;
    box-shadow: 0px 2px 50px 0px #0000001f;
    border-radius: 20px;
    @include mobile (){
        padding-bottom: 20px;
        max-width: 390px;
    }
    &-image {
      padding: 15px;
    }
    &-description {
      width: 400px;
      @include mobile (){
        padding-bottom: 20px;
        max-width: 300px;
    }
    }
    &-content {
      padding-left: 32px;
      @include column;
      gap: 14px;
    }
    &-title {
      h5 {
        
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $primary-color;
      }
    }
    &-description {
      p {
        
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #292929;
      }
    }
    &-buttons {
      display: flex;
      gap: 12px;
      padding-top: 10px;
      @include mobile (){
        display: none;
      }
      &-left{
        @include features-button; 
        border: 1px solid #D3D3D3;
      }
      &-right{
        @include features-button; 
        border: 1px solid #FA002C;
      }
    }
  }
}
