.hero{
    @include center;

    &__background-image{
        @include center;
        background-image: url(../../assets/images/hero-background-image.png);
        max-width: 1920px;
        width: 100%;
    }
    
}