.maps {
  @include center;
  padding-top: 150px;
  padding-bottom: 110px;
  &__wrapper {
    @include column;
    gap: 32px;
  }
  &__cards {
    display: flex;
    gap: 28px;
    @include mobile (){
        @include column;
        padding-left: 16px;
        max-width: 500px;
    }
 
  &-map1 {
    @include maps-cards;
     @include mobile (){
        padding-left: 26px;
        max-width: 400px;
    }
  }
    &-map2 {
      @include maps-cards;
       @include mobile (){
        padding-left: 26px;
        max-width: 400px;
    }
    }
}
  &__title {
     @include mobile (){
      display: flex;
      justify-content: center;
     }
    h4 {
      
      font-weight: 700;
      font-size: 50px;
      line-height: 69px;
      color: $primary-color;
    }
  }
}
