*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.container{
    max-width: 1457px;
    @media (min-width: 1320px) and (max-width: 1636px){
        max-width: 1280px;
    }
    @media (min-width:320px) and (max-width:1319px ){
        max-width: 768px;
    }
}